{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Emotion Analysis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/emotiona.css' %}"> 
</head>
<body>
    <h1>Emotion Analysis</h1>
    <div class="container">
    <form method="get" action="{% url 'emotion_analysis' %}">
        <label for="selected_option">Select an option:</label>
        <select name="selected_option" id="selected_option">
            <option value="one" {% if selected_option == "one" %}selected{% endif %}>One</option>
            <option value="week" {% if selected_option == "week" %}selected{% endif %}>Week</option>
            <option value="month" {% if selected_option == "month" %}selected{% endif %}>Month</option>
            <option value="year" {% if selected_option == "year" %}selected{% endif %}>Year</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>

    <h2>Emotion Data:</h2>
    <div class="contain">
    <ul>
        {% for emotion_data in preprocessed_emotions %}
        <li>
            Lecture {{ forloop.counter }}:
            <ul>{{ emotion_data }}</ul>
        </li>
            
        {% endfor %}
    </ul>
</div>
</body>
</html>

