<form method="post" action="{% url 'emotion_analysis' %}">
    {% csrf_token %}
    <label for="{{ form.dropdown_menu.id_for_label }}" class="select-label">Select an option:</label>
    <select name="{{ form.dropdown_menu.name }}" id="{{ form.dropdown_menu.id_for_label }}" class="select-menu">
        <option value="" class="select-option">-- Select an option --</option>
        <option value="prakruti" class="select-option">Prakruti</option>
        {% for choice in form.dropdown_menu %}
            <option value="{{ choice.value }}" class="select-option">{{ choice.label }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="submit-button">Submit</button>
</form>
